<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPotify Playlist Downloader</title>
</head>
<body>
    <p><span style="color: red; font-size: large;">Download link is ready</span></p>
    <br>
    <a href="" download="">
fhhgh    </a>  </body>
</html>